
div.head {
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: 100% 150%;
    padding: 12.5% 5% 5% 12.5%;
}
p,
a {
    color: rgb(202, 202, 202);
    font-family: serif;
}

p.headline {
    font-size: 2.5em;
}

p.body {
    margin: 0 20% 4% 0;
    font-size: 1.5em;
}

p.elements-label {
    font-size: 1.45em;
    margin: 0 0 1% 0;
}

p.elements-body {
    margin: 0 0 1% 2ex;
}

div.elements {
    margin-top: 6%;
}

button.download {
    background: rgba(255, 255, 255, 0.2);
    /* 半透明の白 */
    color: rgb(202, 202, 202);
    /* 白文字 */
    padding: 0.5% 4%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* 薄い白枠 */
    border-radius: 5px;
    font-size: 1.25em;
    font-weight: bold;
    cursor: pointer;
    backdrop-filter: blur(5px);
    /* 背景をぼかす */
    transition: background-color 0.3s, border-color 0.3s;
    margin: 0 0 0 1em;
    font-family: serif;
}

button.download:hover {
    background: rgba(255, 255, 255, 0.4);
    /* 少し不透明度を増やす */
    border-color: rgba(255, 255, 255, 0.5);
}

div.introducing-content {
    background-color: rgb(45, 58, 60);
    margin: 0;
    padding: 2.5% 5% 5% 12.5%;
}

p.introducing-content-headline {
    margin: 0;
    font-weight: bold;
    margin-bottom: 5%;
    font-size: 2em;
}

/* スライドショーの基本スタイル */
.slideshow-container {
    position: relative;
    max-width: 1000px;
    /* 画像の幅 */
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none;
    width: 100%;
}

/* 矢印のスタイル */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 12px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* スライドのインディケーター（ドット） */
.dots {
    text-align: center;
    padding: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.active,
.dot:hover {
    background-color: #717171;
}

div.credits {
    background-color: rgb(40, 52, 54);
    margin: 0;
    padding: 2.5% 5% 5% 12.5%;
}

p.credits-headline {
    margin: 0 0 1% 0;
    font-size: 2em;
}

.credits-body {
    margin: 0 3% 1% 0;
    float: left;
    transition: color 0.3s, border-bottom 0.3s;
    text-decoration: none;
}

a.credits-body:hover {
    color: rgb(132, 132, 132);
    border-bottom: solid 0.05em rgb(132, 132, 132);
}

@media (min-width: 900) {
    div.head {
        background-image: url(background.png);
        background-repeat: no-repeat;
        background-size: 100%;
        padding: 12.5% 5% 5% 12.5%;
    }
}
